* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
/* khoi phuc lai co chu theo rem */
body {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
}
/* ==================common================== */
a {
  text-decoration: none;
}
.main_content {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin-left: auto;
  margin-right: auto;
}
.btn {
  display: inline-block;
  background-color: #171100;
  font-style: 1.6rem;
  text-align: center;
  font-weight: 600;
  padding: 0px 16px;
  line-height: 50px;
  min-width: 118px;
  color: #fff;
  border-radius: 24.5px;
}
/* ==================header================== */
.header .body {
  display: flex;
  align-items: center;
  padding: 36px 0 8px;
}
.header {
  background-color: #fffcf4;
}
.header.fixed {
  position: sticky;
  top: -28px;
}
.nav {
  margin-left: auto;
}
.nav ul {
  display: flex;
}
.nav a {
  color: #5f5b53;
  font-size: 1.6rem;
  padding: 8px 21px;
}
nav a:hover {
  color: #171100;
  font-weight: 600;
}
.header.btn_sign_up {
  min-width: 114px;
}
.header.action{
  margin-left: 49px;
}
